.learnMore{
    .homecontactus{
        background-color: $secondary-color;
        padding-bottom: 20px;
        margin-bottom: 0px;
        .homecontactus__left__content{
            p{
                color: #000;
            }
        }
        .homecontactus__right{
            input{
                background-color: $primary-color;
                &::placeholder{
                    color: #959ba9;
                }
            }
            button{
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}
.learnMore__datils{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $heading-color;
    margin: 0 10%;
    h1{
        text-decoration: underline;
    }
}
.learnMore__details__block{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    #content{
        display: flex;
        flex-direction: column;
        flex:0.4;
        align-items: center;
        text-align: center;
        padding: 50px 30px;
        h3{
            font-size: 1.4rem;
            // text-decoration: underline;
        }
        p{
            font-size: 1.2rem;
        }
    }
    #image{
        display: flex;
        flex: 0.5;
        justify-content: center;
        img{
        object-fit: contain;
        width: 300px;
        }
    }
}

@media #{$media-mobile} {
    .learnMore__datils{
        #second{
            flex-direction: column-reverse !important;
        }
    }
    .learnMore__details__block{
        flex-direction: column;
    
}
}