.navbar{
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $nav-text-color;
}
.navbar__left{
    // background-color: blue;
    flex:0.3;
    img{
        height: 104px;
        width: 300px;
        transform: scale(2.5);
    }
}
.navbar__right{
    display: flex;
    flex:0.5;
    justify-content: space-around;  
    font-size: 1.5em;
    align-items: center;
    text-transform: uppercase;
    a{
        text-decoration: none;
        &:visited{
            color: $nav-text-color;
        }
    }
}

@media #{$media-mobile} {
    .navbar{
        width: 100vw;
        
        .navbar__left img {
        transform: scale(1.4);
        }
}
    .navbar__right{
        display: none;
    }
}