.navbar{
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $nav-text-color;
}
.navbar__left{
    // background-color: blue;
    flex:0.3;
    img{
        height: 104px;
        width: 300px;
        transform: scale(2.5);
    }
    .MuiSvgIcon-root{
        display: none;
    }
}
.navbar__right{
    display: flex;
    flex:0.5;
    justify-content: space-around;  
    font-size: 1.1em;
    align-items: center;
    text-transform: uppercase;
    a{
        text-decoration: none;
        &:visited{
            color: $nav-text-color;
        }
    }
}

@media #{$media-mobile} {
    .App{
        overflow-x: hidden;
    }
    .navbar{
        width: 80vw;
        justify-content: center;
        margin: auto;
        .navbar__left {
            display: flex;
            flex:1;
            justify-content: space-between;
            align-items: center;
            img {
        transform: scale(1.4);
        width: auto;
        }
        .MuiSvgIcon-root{
            display: block;
        }
    }
}
    .navbar__right{
        display: none;
    }
}