$primary-color: #2F323A;
$secondary-color: #C4C4C4;
$nav-color: #141417;
$nav-text-color: #9C8266;
$banner-text-color: #F2CB96;
$heading-color: #9C8266;
$primart-Text-color: #FFFFFF;
$secondary-Text-color: #FFFFFF;
$placeholder-color:rgba(0, 0, 0, 0.39);



$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
